@mixin rgba-color($alpha: 1, $property: background-color) {
	#{$property}: rgba(22, 24, 35, $alpha);
}
$width-search: 361px;

.wrapper {
	height: var(--default-layout-header-height);
	width: 100%;
	box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
	height: 100%;
	padding: 0 24px 0px 20px;
	width: var(--default-layout-width);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search {
	@include rgba-color(0.06);

	width: $width-search;
	height: 46px;
	display: flex;
	align-items: center;
	border-radius: 92px;
	padding: 12px 16px;
	overflow: hidden;
	border: 1.5px solid transparent;
	&:focus-within {
		@include rgba-color(0.2, border-color);
	}
	&-form {
		display: flex;
		align-items: center;
		flex: 1;
		font-size: 14px;
		@include rgba-color(1, color);

		ion-icon {
			@include rgba-color(0.34, color);
		}
	}
	&-input {
		outline: none;
		border: none;
		background: transparent;
		flex: 1;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 22px;
		caret-color: var(--primary-color);
		color: inherit;

		&:not(:placeholder-shown) ~ .search-button ion-icon[name='search'] {
			@include rgba-color(0.75, color);
		}
	}

	&-input:not(:placeholder-shown) ~ &-button ion-icon[name='search'] {
		@include rgba-color(0.75, color);
	}

	&-clear-button {
		display: flex;
		align-items: center;

		ion-icon {
			margin: 0px 12px;
			font-size: 16px;
		}
		ion-icon[name*='reload'] {
			@include rgba-color(0.34, color);
			animation: rotate360 1s linear infinite;
		}

		@keyframes rotate360 {
			to {
				transform: rotate(360deg);
			}
		}
	}
	&-splitter {
		@include rgba-color(0.12);
		width: 1px;
		height: 28px;
	}
	&-button {
		padding: 11px 16px 11px 12px;
		margin: -12px -16px;
		margin-left: 0;
		display: flex;
		ion-icon {
			font-size: 24px;
		}

		&:hover {
			@include rgba-color(0.03);
		}

		&:active {
			@include rgba-color(0.06);
		}
	}

	&-sug {
		width: $width-search;

		&-more {
			padding: 15px 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			& > p {
				font-weight: 600;
				font-size: 16px;
				line-height: 22px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}
