.wrapper {
	$p: &;

	padding: 9px 16px;
	display: flex;
	align-items: center;
	cursor: pointer;

	&.separator {
		border-top: 1px solid rgba(22, 24, 35, 0.12);
	}

	&:hover {
		background-color: rgba(22, 24, 35, 0.03);
	}
	&-icon {
		margin-right: 8px;
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		height: 20px;
		flex-basis: 20px;
		justify-content: center;
		z-index: 1;

		& > ion-icon {
			width: 1em;
			height: 1em;
			color: currentColor;
		}
	}

	&-content {
		flex: 1;

		& > h4 {
			font-weight: 600;
			position: relative;
			top: 2px;
			line-height: 22px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
	}

	// Menu items

	&-menu {
		padding: 10px 16px;

		&-icon > ion-icon {
			width: 20px;
			height: 20px;
		}
	}

	// Menu header

	&-header {
		position: relative;
		min-height: 50px;
		display: flex;
		align-items: center;
		padding: 0;

		&:hover {
			background-color: initial;
		}

		& + div > div {
			padding: 10px 24px;
			&:hover {
				background-color: rgba(22, 24, 35, 0.06);
			}
			& h4 {
				font-size: 1.4rem;
				font-family: 'SofiaPro', sans-serif;
				font-weight: 400;
				line-height: 20px;
			}
		}

		#{$p}-icon {
			margin-right: auto;
			& > ion-icon {
				margin-left: 20px;
				width: 20px;
				height: 20px;
			}
		}
		&-content {
			position: absolute;
			max-width: 100%;
			width: 100%;
			height: fit-content;

			& > h4 {
				margin-left: auto;
				max-width: calc(100% - 48px);
				height: 100%;
				display: flex;
				align-items: center;
			}
		}
	}
}
